<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap"
				rel="stylesheet">
		<link rel="stylesheet" href="css/splide.min.css">
		<link href="css/style.css" rel="stylesheet">
		<link rel="icon" href="images/logo.svg">
		<title>canvas-campaign</title>
</head>

<body>
		<!-- Header Section Start -->
		<header>
			<div class="announcement">FREE SHIPPING AVAILABLE ON ALL ORDERS! </div>
			<div class="header-menu">
				<div class="fix-container">
					<a href="index.html" class="logo"><img src="images/logo.svg" alt="canvas campaign" width="80" height="30"></a>
					
						<ul class="menu">
							<li class="active"><a href="#">Home</a></li>
							<li class="sub-menu"><a href="#">Canvas</a></li>
							<li class="sub-menu"><a href="#">Decor</a></li>
							<li class="sub-menu"><a href="#">Photo Pillow</a></li>
							<li class="sub-menu"><a href="#">Art Canvas</a></li>
						</ul>
					
						<nav class="right-menu">
							<a href="#" class="search"></a>
							<a href="#" class="login "></a>
							<a href="#" class="wishlist">
								<span class="badge">10</span></a>
							<a href="#" class="cart">
								<span class="badge">10</span></a>
						</nav>
						<div class="hamburger">
							<span class="bar"></span>
							<span class="bar"></span>
							<span class="bar"></span>
						</div>
				</div>
			</div>
		</header>
		<!-- Header Section End -->

		<!--  Banner Section Start-->

		<div class="splide banner-slide">
			<div class="splide__track">
				<div class="splide__list">
						<div class="splide__slide banner">
							<div class="fix-container">
									<div class="banner-sec">
											<h1>HOLD ON TO BEST MEMORIES WITH STYLE</h1>
											<p>Lorem Ipsum is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum
													Has Been The Industry's Standard Dummy</p>
											<a href="#" class="button">CREATE NOW</a>
									</div>
							</div>
							<span class="bann-img"><img src="images/banner-img.svg" alt="Banner Frame"  width="464" height="240"></span>
							<img src="images/banner-bg-img.svg" alt="Banner background img">
							
						</div>
						<div class="splide__slide banner">
							<div class="fix-container">
									<div class="banner-sec">
											<h1>HOLD ON TO BEST MEMORIES WITH STYLE</h1>
											<p>Lorem Ipsum is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum
													Has Been The Industry's Standard Dummy</p>
											<a href="#" class="button">CREATE NOW</a>
									</div>
							</div>
							<span class="bann-img"><img src="images/banner-img.svg" alt="Banner Frame"  width="464" height="240"></span>
							<img src="images/banner-bg-img.svg" alt="Banner background img">
							
						</div>
						<div class="splide__slide banner">
							<div class="fix-container">
									<div class="banner-sec">
											<h1>HOLD ON TO BEST MEMORIES WITH STYLE</h1>
											<p>Lorem Ipsum is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum
													Has Been The Industry's Standard Dummy</p>
											<a href="#" class="button">CREATE NOW</a>
									</div>
							</div>
							<span class="bann-img"><img src="images/banner-img.svg" alt="Banner Frame"  width="464" height="240"></span>
							<img src="images/banner-bg-img.svg" alt="Banner background img">
							
						</div>
				</div>
			</div>
		</div>

		<!-- Banner Section End -->

		<!-- call to action start -->
		<section class="callto">
				<div class="fix-container">
						<div class="shipping-step">
								<img src="images/warrenty.svg" alt="Life Time Warrenty" width="45" height="45">
								<span class="ship-info">
										<h2>Life Time Warrenty</h2>
										<h5>Lorem Ipsum Dummy List.</h5>
								</span>
						</div>
						<div class="shipping-step">
								<img src="images/shipping.svg" alt="Free Shipping" width="45" height="45">
								<span class="ship-info">
										<h2>Free Shipping</h2>
										<h5>Lorem Ipsum Dummy List.</h5>
								</span>
						</div>
						<div class="shipping-step">
								<img src="images/policy.svg" alt="30 Days Return Policy" width="45" height="45">
								<span class="ship-info">
										<h2>30 Days Return Policy</h2>
										<h5>Lorem Ipsum Dummy List.</h5>
								</span>
						</div>
						<div class="shipping-step">
								<img src="images/lowest-price.svg" alt="Lowest Price" width="45" height="45">
								<span class="ship-info">
										<h2>Lowest Price</h2>
										<h5>Lorem Ipsum Dummy List.</h5>
								</span>
						</div>
				</div>
		</section>
		<!-- call to action end -->

		<!-- Suprise product start -->

		<section class="suprise-product">
				<div class="fix-container">
						<span class="suprise-heading">
								<h2>Let's Find Full Of Surprises Products</h2>
								<h5>Lorem Ipsum Dummy Content Forever</h5>
						</span>

						<div class="splide product-slide">
							<div class="splide__track">
								<div class="splide__list sup-products">

									<a href="#" class="splide__slide product">
										<div class="prod-img">
												<span class="sale">SALE</span>
												<span class="like"></span>
												<img src="images/suprise-prod1.svg" alt="Hexagonal Prints" width="198" height="278">
										</div>
										<div class="prod-desc">
												<h3>Hexagonal Prints</h3>
												<span class="discount"><del>$300.00</del></span><span class="price">$200.00</span>
												<div class="btn">
														<span><img src="images/customize.svg" alt="customize" width="16" height="16">CUSTOMIZE</span>
												</div>
										</div>
									</a>
									<a href="#" class="splide__slide product">
											<div class="prod-img">
													<span class="sale">SALE</span>
													<span class="like"></span>
													<img src="images/suprise-prod2.svg" alt="Hexagonal Prints" width="288" height="192">
											</div>
											<div class="prod-desc">
													<h3>Hexagonal Prints</h3>
													<span class="discount"><del>$300.00</del></span><span class="price">$200.00</span>
													<div class="btn">
															<span><img src="images/customize.svg" alt="customize" width="16" height="16">CUSTOMIZE</span>
													</div>
											</div>
									</a>
									<a href="#" class="splide__slide product">
											<div class="prod-img">
													<span class="sale">SALE</span>
													<span class="like"></span>
													<img src="images/suprise-prod3.svg" alt="Hexagonal Prints" width="244" height="106">
											</div>
											<div class="prod-desc">
													<h3>Hexagonal Prints</h3>
													<span class="discount"><del>$300.00</del></span><span class="price">$200.00</span>
													<div class="btn">
															<span><img src="images/customize.svg" alt="customize" width="16" height="16">CUSTOMIZE</span>
													</div>
											</div>
									</a>
									<a href="#" class="splide__slide product">
											<div class="prod-img">
													<span class="sale">SALE</span>
													<span class="like"></span>
													<img src="images/suprise-prod4.svg" alt="Hexagonal Prints" width="280" height="186">
											</div>
											<div class="prod-desc">
													<h3>Hexagonal Prints</h3>
													<span class="discount"><del>$300.00</del></span><span class="price">$200.00</span>
													<div class="btn">
															<span><img src="images/customize.svg" alt="customize" width="16" height="16">CUSTOMIZE</span>
													</div>
											</div>
									</a>
									<a href="#" class="splide__slide product">
											<div class="prod-img">
													<span class="sale">SALE</span>
													<span class="like"></span>
													<img src="images/suprise-prod5.svg" alt="Hexagonal Prints" width="180" height="244">
											</div>
											<div class="prod-desc">
													<h3>Hexagonal Prints</h3>
													<span class="discount"><del>$300.00</del></span><span class="price">$200.00</span>
													<div class="btn">
															<span><img src="images/customize.svg" alt="customize" width="16" height="16">CUSTOMIZE</span>
													</div>
											</div>
									</a>
									<a href="#" class="splide__slide product">
											<div class="prod-img">
													<span class="sale">SALE</span>
													<span class="like"></span>
													<img src="images/suprise-prod6.svg" alt="Hexagonal Prints" width="209" height="206">
											</div>
											<div class="prod-desc">
													<h3>Hexagonal Prints</h3>
													<span class="discount"><del>$300.00</del></span><span class="price">$200.00</span>
													<div class="btn">
															<span><img src="images/customize.svg" alt="customize" width="16" height="16">CUSTOMIZE</span>
													</div>
											</div>
									</a>
									<a href="#" class="splide__slide product">
											<div class="prod-img">
													<span class="sale">SALE</span>
													<span class="like"></span>
													<img src="images/suprise-prod7.svg" alt="Hexagonal Prints" width="130" height="241">
											</div>
											<div class="prod-desc">
													<h3>Hexagonal Prints</h3>
													<span class="discount"><del>$300.00</del></span><span class="price">$200.00</span>
													<div class="btn">
															<span><img src="images/customize.svg" alt="customize" width="16" height="16">CUSTOMIZE</span>
													</div>
											</div>
									</a>
									<a href="#" class="splide__slide product">
											<div class="prod-img">
													<span class="sale">SALE</span>
													<span class="like"></span>
													<img src="images/suprise-prod8.svg" alt="Hexagonal Prints" width="280" height="172">
											</div>
											<div class="prod-desc">
													<h3>Hexagonal Prints</h3>
													<span class="discount"><del>$300.00</del></span><span class="price">$200.00</span>
													<div class="btn">
															<span><img src="images/customize.svg" alt="customize" width="16" height="16">CUSTOMIZE</span>
													</div>
											</div>
									</a>

								</div>
							</div>
						</div>
				</div>
		</section>
		<!-- Suprise product end -->

		<!-- Collection start -->


		<div class="splide collection">
			<div class="splide__track">
				<div class="splide__list fix-container">
						<div class="splide__slide items">
								<div class="item-img">
										<img src="images/art-collection.svg" alt="Canvas Art Collection" width="410" height="525">
								</div>
								<div class="collection-desc">
										<h5>Canvas Art Collection</h5>
										<h2><a href="#">Perfect Collection For Your Home</a></h2>
										<a href="#">EXPLORE NOW</a>
								</div>
						</div>
						<div class="splide__slide items">
								<div class="item-img">
										<img src="images/photo-frame-collection.svg" alt="Photo Frame Collection"  width="410" height="525">
								</div>
								<div class="collection-desc">
										<h5>Photo Frame Collection </h5>
										<h2><a href="#">Exclusive Collection For You</a></h2>
										<a href="#">EXPLORE NOW</a>
								</div>
						</div>
						<div class="splide__slide items">
								<div class="item-img">
										<img src="images/wall-art-collection.svg" alt="Art Print"  width="410" height="525">
								</div>
								<div class="collection-desc">
										<h5>Art Print</h5>
										<h2><a href="#">Wall Art Prints & Posters</a></h2>
										<a href="#">EXPLORE NOW</a>
								</div>
						</div>
						
					
				</div>
			</div>
		</div>

		<!-- Collection end -->

		<!-- Customer-review start -->

		<section class="customer">
				<div class="fix-container">
						<div class="cust-heading">
								<h2>Customers Reviews</h2>
								<h5>Lorem Ipsum Dummy Content Forever</h5>
						</div>
						<div class="splide cust-slider ">
							<div class="splide__track">
								<div class="splide__list cust-detail">
									<div class="cust splide__slide">
										<p>“t text ever since the 1500s, when an unknown printer took a galley of type and
												scrambled it to make a type specimen book.”</p>
										<div class="name">
												<h2>Mrs. Arpita Mahadevan</h2>
												<h3>Ahmedabad .IND</h3>
										</div>
									</div>
									<div class="cust splide__slide">
										<p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
												Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
												took a galley of type and scrambled it to make a type specimen book.”</p>
										<div class="name">
												<h2>Mrs. Arpita Mahadevan</h2>
												<h3>Ahmedabad .IND</h3>
										</div>
									</div>
									<div class="cust splide__slide">
										<p>“t text ever since the 1500s, when an unknown printer took a galley of type and
												scrambled it to make a type specimen book.”</p>
										<div class="name">
												<h2>Mrs. Arpita Mahadevan</h2>
												<h3>Ahmedabad .IND</h3>
										</div>
									</div>
									<div class="cust splide__slide">
										<p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
												Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
												took a galley of type and scrambled it to make a type specimen book.”</p>
										<div class="name">
												<h2>Mrs. Arpita Mahadevan</h2>
												<h3>Ahmedabad .IND</h3>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- <div class="paging">
								<a href="#" class="page active"></a>
								<a href="#" class="page"></a>
								<a href="#" class="page"></a>
								<a href="#" class="page"></a>
						</div> -->
				</div>
		</section>

		<!--  Customer-review end-->

		<!-- Map Start -->
		<div class="world-map">
			<h4>Our Globel Presence</h4>
			<div class="map">
				<img src="images/map.png" alt="world map" width="1290" height="800">
				<a href="#" class="icon-usa">
					<img src="images/usa.png" alt="USA" width="70" height="70">
				</a>
				<a href="#" class="icon-india">
					<img src="images/India.png" alt="India" width="70" height="70">
				</a>
				<a href="#" class="icon-canada">					
					<img src="images/canada.png" alt="Canada" width="70" height="70">
				</a>
			</div>
			<div class="timeline">
				<span class="location"></span>
				<ul>
					<li>USA<p>(Coming Soon)</p></li>
					<li>INDIA</li>
					<li>Canada<p>(Coming Soon)</p></li>
				</ul>
			</div>
			
		</div>

		<!-- Map End -->

		<!-- Instagram Gallery Start -->


	<section class="instagram">
		<div class="fix-container">
				<div class="insta-heading">
						<h2>For More On Our Instagram Gallery</h2>
						<h5>Visti Our Instagram <a href="#" target="_blank" class="mail">@Samplein</a></h5>
				</div>
				<div class="splide insta-slide wrapper ">
					<div class="splide__track">
						<div class="splide__list">
								<a href="#" class="card splide__slide">
										<img src="images/insta-img1.svg" alt="Insta Gallery1" width="203" height="300">
										<span class="insta-img"></span>
								</a>
								<a href="#" class="card splide__slide">
										<img src="images/insta-img2.svg" alt="Insta Gallery2" width="203" height="300">
										<span class="insta-img"></span>
								</a>
								<a href="#" class="card splide__slide">
										<img src="images/insta-img3.svg" alt="Insta Gallery3" width="203" height="300">
										<span class="insta-img"></span>
								</a>
								<a href="#" class="card splide__slide">
										<img src="images/insta-img4.svg" alt="Insta Gallery4" width="203" height="300">
										<span class="insta-img"></span>
								</a>
								<a href="#" class="card splide__slide">
										<img src="images/insta-img5.svg" alt="Insta Gallery5" width="203" height="300">
										<span class="insta-img"></span>
								</a>
								<a href="#" class="card splide__slide">
										<img src="images/insta-img6.svg" alt="Insta Gallery6" width="203" height="300">
										<span class="insta-img"></span>
								</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Instagram Gallery End -->

		<!-- Footer Start -->
		<footer>
				<div class="foot-form">
						<div class="fix-container">
								<h2>Join Our Newsletter <br> and Get Latest Updates!</h2>
								<div class="foot-input">
										<form class="input">
												<input class="search-input" type="email" placeholder="Enter your email address">
												<a href="#" class="search-button">
														<img class="foot-arrow" src="images/arrow-right.svg" alt="send" width="16" height="35">
												</a>
										</form>
										<p>By entering your email address you are accepting our <a href="#">Terms & Conditions</a> and 
												<a href="#">Privacy & Cookie Policy.</a>
										</p>
								</div>
						</div>
				</div>

				<div class="foot-menu">
						<div class="fix-container">
								<div class="foot-social">
										<a href="index.html" class="logo"><img src="images/logo.svg" alt="canvas campaign" width="121" height="60"></a>
										<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
												incididunt ut labore dolore magna aliqua</h5>
										<nav class="social">
												<a href="#" target="_blank" class="facebook"></a>
												<a href="#" target="_blank" class="twitter"></a>
												<a href="#" target="_blank" class="insta"></a>
												<a href="#" target="_blank" class="utube"></a>
										</nav>
								</div>
								<nav class="foot-categories">
										<ul>
												<li><h2>CATEGORIES</h2></li>
												<li><a href="#">Canvas shop</a></li>
												<li><a href="#">hoodies</a></li>
												<li><a href="#">Home Decor</a></li>
												<li><a href="#">Photo Pillow</a></li>
												<li><a href="#">Home Decor Art Canvas</a></li>
										</ul>
								</nav>
								<nav class="foot-company">
										<ul>
												<li><h2>OUR COMPANY</h2></li>
												<li><a href="#">About Us</a></li>
												<li><a href="#">Shipping & Delivery</a></li>
										</ul>
								</nav>
								<nav class="foot-cust-service">
										<ul>
												<li><h2>CUSTOMER SERVICES</h2></li>
												<li><a href="#">Terms of use</a></li>
												<li><a href="#">Return & Cancellation</a></li>
												<li><a href="#">Privacy Policy</a></li>
												<li><a href="#">Blog</a></li>
												<li><a href="#">FAQs</a></li>
										</ul>
								</nav>
						</div>
				</div>

				<div class="foot-payment">
						<div class="fix-container">
								<span class="copyright" >©Copyright <span id="currentYear"></span> Canvas Campaign. Designd By Canvas Campaign.</span>
								<div class="foot-img"><img src="images/icons_payment.svg" alt="payments" width="283" height="24"></div>
						</div>
				</div>

		</footer>
		
	<script src="js/script.js"></script>		
	<script src="js/splide.min.js"></script>
	<script>
		var insta = new Splide( '.insta-slide', {
		perPage: 5,
		perMove: 1,
		gap    : '1.5rem',
		breakpoints: {
			991: {
			perPage: 3,
			arrows: true,
			},
			414: {
			perPage: 1,
			arrows: true,
			},
		},
		} );

		var banner = new Splide( '.banner-slide', {
			perPage: 1,
			perMove: 1,
		} );

		var products = new Splide( '.product-slide', {
			perPage: 4,
			perMove: 2,
			gap: '30px',
		} );

		
		var cust = new Splide( '.cust-slider', {
			perPage: 2,
			perMove: 1,
			gap: '30px',
			breakpoints: {
				991: {
				perPage: 2,
				arrows: true,
				},
				767: {
				perPage: 1,
				arrows: true,
				},
			},
		} );


		var collection = new Splide( '.collection', {
			perPage: 3,
			perMove: 1,
			gap: '30px',
			breakpoints: {
				991: {
				perPage: 2,
				arrows: true,
				},
				767: {
				perPage: 1,
				arrows: true,
				},
			},
		} );

		insta.mount();
		banner.mount();
		products.mount();
		cust.mount();
		collection.mount();
	</script> 





<!-- {%- style -%}
   img {
    width: 100%;
    height: 100%;
    background-size: cover;    
    transition: all 1s;
  }
  .card__media {
    width: 100%;
    height: 100%;
  }
  .custom_img {
    width: 100%;
    height: 100%;
  }
  .custom:hover img {
      transform: scale(1.1);
  }
  img.motion-reduce {
      position: initial !important;
  }
  .card-wrapper{
    position:relative;
  }
  .inner_info {
    display: none;
  }
  .card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  span.icon-wrap {
    display: none;
  }
  .custom-product-section{
    column-gap: 30px !important;
  }
  .custom__content{
    position:absolute;
    top:0;
    bottom:0;
    padding: 0;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    display: flex;
    width: 100%;
  }
  .custom_block{
    position: relative;
    transition: all 1s;
    overflow: hidden;
  }
  .custom_section {
    display: flex;
    column-gap:20px;
    width: 100%;
    overflow: hidden;
  }
  .custom__box {
    padding: 1.5rem;
    position: relative;
    height: fit-content;
    align-items: center;
    width: 100%;
    word-wrap: break-word;
    z-index: 1;
    width: auto;
    max-width: 71rem;
    min-width: 39rem;
  }
  

  .custom__content.custom__content--top-left {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .custom__content.custom__content--top-center {
     align-items: center;
    justify-content: flex-start;
  }

  .custom__content.custom__content--top-right {
    align-items: flex-end;
    justify-content: flex-start;
  }

  .custom__content.custom__content--middle-left {
    align-items: flex-start;
    justify-content: center;
  }

  .custom__content.custom__content--middle-center {
    align-items: center;
    justify-content: center;
  }

  .custom__content.custom__content--middle-right {
    align-items: flex-end;
    justify-content: center;
  }

  .custom__content.custom__content--bottom-left {
    align-items: flex-start;
    justify-content: flex-end;
  }

  .custom__content.custom__content--bottom-center {
    align-items: center;
    justify-content: flex-end;
  }

  .custom__content.custom__content--bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
  }
  .custom--content-align-left{
    text-align:left;
  }
  .custom--content-align-center{
    text-align:center;
  }
  .custom--content-align-right{
    text-align:right;
  }
  .custom--white{
    color:#fff;
  }
  .custom--black{
    color:#222;
  }
  .custom--grey{
    color:#878787;
  }
{%- endstyle -%}
 <div class="product_section page-width {% if section.settings.title == blank %} no-heading{% endif %} section-{{ section.id }}">
    {%- unless section.settings.title == blank -%}
      <div class=" title">
        <h2 id="{{ section.id }}"  class="collection-list-title inline-richtext {{ section.settings.heading_size }}">
          {{ section.settings.title }}
        </h2>
      </div>
    {%- endunless -%}
 </div>
     <ul class="custom-product-section collection-list page-width contains-card contains-card--collection grid grid--{{ section.settings.columns_desktop }}-col-desktop collection-list--{{ section.blocks.size }}-items"
        id="Slider-{{ section.id }}"
        role="list">
        {%- liquid
          assign columns = section.blocks.size
          if columns > 3
            assign columns = 3
          endif
        -%}
        {%- for block in section.blocks -%}
              <li
                id="Slide-{{ section.id }}-{{ forloop.index }}"
                class="collection-list__item grid__item {{ block.type }}"
                 >
                {% if block.type == "custom" %}


                   <div class="custom_section  custom--content-align-{{ block.settings.desktop_content_alignment }}
                    custom--{{ section.settings.image_height }}
                     {% if section.settings.image_height == 'adapt' and section.settings.image != blank %} custom--adapt{% endif %}{% if section.settings.show_text_below %} custom--mobile-bottom{%- endif -%}
                     {% if section.settings.show_text_box == false %} custom--desktop-transparent{% endif %}
                     {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
                     
                             <div class="custom_block">
                              <div class="custom_img">
                                {{   block.settings.image | image_url: width: 570| image_tag:
                                    height: image_height,
                                    class: image_class,
                                    sizes: sizes,
                                    widths: widths,
                                    fetchpriority: fetch_priority  }}
                              </div>

                               <div class="custom__content custom__content--{{ block.settings.desktop_content_position }} page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                                  <div class="custom__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient">
                                   
                                      {%- case block.settings.type == "Image" -%}
                                        {%- when block.settings.type == "text1"-%}
                                          <div class="custom__text1 my-text {{ block.settings.text1_size }} {{ section.settings.font-weight }} custom--{{ section.settings.desktop_content_text_color }}" {{ block.shopify_attributes }}>
                                            {{ block.settings.text1 }}
                                          </div>
                                        {%- when block.settings.type == "text2" -%}
                                           <div class="custom__text2 my-text {{ block.settings.text2_size }} custom--{{ section.settings.desktop_content_text_color2 }}" {{ block.shopify_attributes }}>
                                           {{ block.settings.text2 }}
                                          </div>
                                        {%- when block.settings.type == "text3" -%}
                                           <div class="custom__text3 my-text {{ block.settings.text3_size }} custom--{{ section.settings.desktop_content_text_color3 }}" {{ block.shopify_attributes }}>
                                           {{ block.settings.text3 }}
                                          </div>
                                      {%- endcase -%}
                                  </div>
                               </div>
                               
                      </div>
                    </div>

                  
                    {% elsif block.type == "featured_collection" %}
                      {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
                      {%- assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index -%}
                      {% render 'card-collection',
                        card_collection: block.settings.collection,
                        media_aspect_ratio: section.settings.image_ratio,
                        columns: columns,
                        placeholder_image: placeholder_image
                      %}
                    {% else %}
                       {% render 'card-product',
                      card_product:  block.settings.product
                    %}
                {% endif %}
              </li>
              
        {%- endfor -%}
      </ul>

{% schema %}
{
        "name": "Custom Product Section",
        "tag": "section",
        "class": "section section-collection-list",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "title",
            "default": "Collection and Products",
            "label": "Heading"
          },
          {
            "type": "select",
            "id": "heading_size",
            "options": [
              {
                "value": "h2",
                "label": "Small"
              },
              {
                "value": "h1",
                "label": "Medium"
              },
              {
                "value": "h0",
                "label": "Large"
              }
            ],
            "default": "h1",
            "label": "Heading Size"
          },
          {
            "type": "range",
            "id": "columns_desktop",
            "min": 1,
            "max": 5,
            "step": 1,
            "default": 3,
            "label": "Number of column on Desktop"
          },
          {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color Scheme",
            "default": "scheme-1"
          },
          {
            "type": "select",
            "id": "desktop_content_text_color",
            "options": [
              {
                "value": "white",
                "label": "White"
              },
              {
                "value": "black",
                "label": "Black"
              },
              {
                "value": "grey",
                "label": "Grey"
              }
            ],
            "default": "black",
            "label": "Desktop Content Text Color"
          },
          {
            "type": "select",
            "id": "desktop_content_text_color2",
            "options": [
              {
                "value": "white",
                "label": "White"
              },
              {
                "value": "black",
                "label": "Black"
              },
              {
                "value": "grey",
                "label": "Grey"
              }
            ],
            "default": "black",
            "label": "Desktop Content Text Color2"
          },
          {
            "type": "select",
            "id": "desktop_content_text_color3",
            "options": [
              {
                "value": "white",
                "label": "White"
              },
              {
                "value": "black",
                "label": "Black"
              },
              {
                "value": "grey",
                "label": "Grey"
              }
            ],
            "default": "black",
            "label": "Desktop Content Text Color3"
          }
        ],
        "blocks": [
          {
            "type": "featured_collection",
            "name": "Collection",
            "settings": [
              {
                "type": "collection",
                "id": "collection",
                "label": "Collection"
              }       
            ]
          },
          {
            "type": "product",
            "name": "Product",
            "settings": [
               {
                "type": "product",
                "id": "product",
                "label": "Product"
              }
            ]
          },
          {
            "type": "custom",
            "name":"Custom",
            "settings": [
              {
                "type": "image_picker",
                "id":"image",
                "label": "Select Image"
              },
              {
                "type": "select",
                "id": "image_height",
                "options": [
                  {
                    "value": "adapt",
                    "label": "Adapt"
                  },
                  {
                    "value": "small",
                    "label": "Small"
                  },
                 {
                    "value": "medium",
                    "label": "Medium"
                  },
                  {
                    "value": "large",
                    "label": "Large"
                  }
                ],
                 "default": "medium",
                "label": "Image Height"
              },
              {
                "type": "inline_richtext",
                "id": "text1",
                "default": "Content of promotion section.",
                "label": "Content1"
              },
               {
                "type": "select",
                "id": "text1_size",
                "options": [
                  {
                    "value": "h6",
                    "label": "Extra Small"
                  },
                  {
                    "value": "h5",
                    "label": "Small"
                  },
                 {
                    "value": "h4",
                    "label": "Semi Medium"
                  },
                  {
                    "value": "h3",
                    "label": "Medium"
                  },
                  {
                    "value": "h2",
                    "label": "Large"
                  },
                 {
                    "value": "h1",
                    "label": "Extra Large"
                  },
                  {
                    "value": "h0",
                    "label": "Big"
                  }
                ],
                 "default": "h2",
                "label": "Text1 Size"
              },
              {
            "type": "select",
            "id": "desktop_content_position",
            "options": [
              {
                "value": "top-left",
                "label": "Top Left"
              },
              {
                "value": "top-center",
                "label": "Top Center"
              },
              {
                "value": "top-right",
                "label": "Top Right"
              },
              {
                "value": "middle-left",
                "label": "Middle Left"
              },
              {
                "value": "middle-center",
                "label": "Middle Center"
              },
              {
                "value": "middle-right",
                "label": "Middle Right"
              },
              {
                "value": "bottom-left",
                "label": "Bottom Left"
              },
              {
                "value": "bottom-center",
                "label": "Bottom Center"
              },
              {
                "value": "bottom-right",
                "label": "Bottom Right"
              }
            ],
            "default": "middle-center",
            "label": "Desktop Content Position"
          },
          {
            "type": "select",
            "id": "desktop_content_alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "center",
            "label": "Desktop Content Alignment"
          },
              {
                "type": "inline_richtext",
                "id": "text2",
                "default": "Content of promotion section.",
                "label": "Content2"
              }, 
              {
                "type": "select",
                "id": "text2_size",
                "options": [
                  {
                    "value": "h6",
                    "label": "Extra Small"
                  },
                  {
                    "value": "h5",
                    "label": "Small"
                  },
                 {
                    "value": "h4",
                    "label": "Semi Medium"
                  },
                  {
                    "value": "h3",
                    "label": "Medium"
                  },
                  {
                    "value": "h2",
                    "label": "Large"
                  },
                 {
                    "value": "h1",
                    "label": "Extra Large"
                  },
                  {
                    "value": "h0",
                    "label": "Big"
                  }
                ],
                 "default": "h2",
                "label": "Text2 Size"
              },
              {
                "type": "inline_richtext",
                "id": "text3",
                "default": "Content3.",
                "label": "Content3"
              }, 
               {
                "type": "select",
                "id": "text3_size",
                "options": [
                  {
                    "value": "h6",
                    "label": "Extra Small"
                  },
                  {
                    "value": "h5",
                    "label": "Small"
                  },
                 {
                    "value": "h4",
                    "label": "Semi Medium"
                  },
                  {
                    "value": "h3",
                    "label": "Medium"
                  },
                  {
                    "value": "h2",
                    "label": "Large"
                  },
                 {
                    "value": "h1",
                    "label": "Extra Large"
                  },
                  {
                    "value": "h0",
                    "label": "Big"
                  }
                ],
                 "default": "h2",
                "label": "Text3 Size"
              }
            ]
          }
        ],
    "presets": [
    {
      "name": "Custom Product Section"
    }
  ]
}
{% endschema %}

 -->




</body>

</html>